.home {
  background-image: linear-gradient(
    to top,
    #fdf6e3,
    #fafafa
  ); //linear-gradient(to bottom right, red, yellow);
  height: 100vh;
  text-align: center;
  font-family: Lato;
  padding-top: 1.5rem;

  &__isLoggedError {
    background-color: rgba($color: #ef0000, $alpha: 0.2);
    color: red;
    border: 1px solid red;
    padding: 0.5rem;
    width: 70vw;
    margin: 0 auto 0 auto;
  }

  &__title {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }

  &__subtitle {
    margin-top: 0.5rem;
  }

  &__form {
    margin-top: 3rem;

    &--loading {
      margin: 0 0 1rem 0;
    }

    &__textarea {
      resize: none;
      width: 15rem;
      height: 4rem;
      margin: 2rem 0 0 0;
    }

    &__characterLimit {
      max-width: 15rem;
      margin: 0 auto 1rem auto;
      font-size: 0.75rem;
      text-align: right;

      &--limit {
        max-width: 15rem;
        margin: 0 auto 1rem auto;
        font-size: 0.75rem;
        text-align: right;
        color: red;
      }
    }

    &__submit {
      display: block;
      margin: 0 auto 1rem auto;
      border: 0px solid black;
      border-radius: 0.2rem;
      padding: 0.75rem 1.5rem;
      background-color: #afaa9a;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #9c9785;
      }

      &:disabled {
        background-color: rgba($color: #949493, $alpha: 0.2);
      }
    }

    &__select {
      margin: 0 0 0 0.5rem;
    }
  }

  &__audioPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .home__isLoggedError {
    width: 25vw;
  }
}

@media screen and (min-width: 1200px) {
}