.user {
  background-image: linear-gradient(
    to top,
    #fdf6e3,
    #fafafa
  ); //linear-gradient(to bottom right, red, yellow);
  height: 100vh;
  font-family: Lato;
  font-size: 1.25rem;
  text-align: center;
}

.user--form__field {
  text-align: left;
  padding: 1rem;
}

.user--form__submit {
  display: block;
  margin: 2rem auto 2rem auto;
  border: 0px solid black;
  border-radius: 0.2rem;
  padding: 0.75rem 1.5rem;
  background-color: #afaa9a;
  color: white;
}
