.user {
  background-image: linear-gradient(
    to top,
    #fdf6e3,
    #fafafa
  ); //linear-gradient(to bottom right, red, yellow);
  height: 100vh;
  font-family: Lato;
  font-size: 1.25rem;
  text-align: center;

  &__mainText {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  &__form {
    margin: 0 auto 0 auto;
    padding: 0.5rem;
    border: 1px solid #afaa9a;
    width: 80vw;
    background-color: white;

    &--field {
      padding: 1rem;
      cursor: pointer;
      margin: auto;
    }

    &--inputField {
      display: block;
      margin: auto;
    }

    &--submit {
      display: block;
      margin: 2rem auto 2rem auto;
      border: 0px solid black;
      border-radius: 0.2rem;
      padding: 0.75rem 1.5rem;
      background-color: #afaa9a;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #9c9785;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .user__form {
    width: 25vw;
  }
}

@media screen and (min-width: 1200px) {
}
