.navbar {
  background-color: #afaa9a;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--item {
      color: white;
      padding: 1rem;
      cursor: pointer;
    }
  }
}