@import "../../assets/styles/variables.scss";

.navbar {
  background-color: $supplementary-color;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--item {
      color: $second-text;
      padding: 1rem;
      cursor: pointer;
    }

    &__navbarFlex {
      padding: 0 1rem;

      &:first-child {
        margin-right: auto;
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}