@import "../../assets/styles/variables.scss";

.register {
  background-image: $background-color;
  height: 100vh;
  font-family: Lato;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 5rem;

  &__mainText {
    padding: 1rem;
  }

  &__registerForm {
    margin: 0 auto 0 auto;
    padding: 0.5rem;
    border: 1px solid $supplementary-color;
    width: 80vw;
    background-color: $form-background;
    &--field {
      display: block;
      margin: 0.5rem auto 0.5rem auto;
      padding: 0.25rem;
      font-size: 1rem;
      min-width: 14rem;
    }

    &--submit {
      @include button;
    }

    &--error {
      background-color: error-color;
      color: $error-font;
      border: 1px solid $error-font;
      padding: 0.5rem;
      margin: 1rem auto;
    }
  }
}

@media screen and (min-width: 960px) {
  .register__registerForm {
    min-width: 2vw;
    width: 25vw;
  }
}

@media screen and (min-width: 1200px) {
}
